.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.feature {
  margin-bottom: 2rem;
}

.featureEmoji {
  display: inline-block;
  font-size: 3.5rem;
  line-height: 1;
  margin-bottom: 0.75rem;
}
